<div class="four">
  <h2>Change Team Name:</h2>

  <%= simple_form_for @team, method: :patch do |f| %>
    <%= f.input :name, required: true, label: "Name"  %>
    <%= f.button :submit %>
  <% end %><br>

  <h3>Drastic Measures:</h3>

  <%= link_to "Close down team", team_path(@team), method: :delete %><br><br>
</div>
