<h1>Leagues Across Softball Sim</h1>
<ol>
  <% @leagues.each do |league| %>
    <li>
      <h1><%= link_to league.name, league_path(league.id) %></h1>
      <ul>
        <% league.teams.games.last(4) do |game| %>
        <li><%= link_to game.home_team.name, team_path(game.home_team.id)"  #{game.home_score}" %></li>
        <li><%= link_to game.away_team.name, team_path(game.away_team.id)"  #{game.away_score}" %></li>
        <li><%= link_to "Box Score", game_path(game.id) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>
