<ol class="page-header">
  <li>Leagues Around Softball Sim</li>
</ol>

<p><%= link_to "Create your own league!", new_league_path %></p><hr>

<div class="games-table">
  <%= render "partials/scores", games: @games %>
</div>
