<div class="twelve">
  <ol class="page-header">
    <li>Created by: </li>
    <li><%= link_to "Rory Quinlan", "http://www.somestuffby.me" %></li>
  </ol>
<h3>Using Ruby/Rails, JavaScript/JQuery/Bourbon, PostgreSQL</h3>
<hr>
</div>

<div class="six">
  <table>
      <tr><td><h1>(508) 404-6605</h1></td></tr>
      <tr><td><h1>rjamesquinlan@gmail.com</h1></td></tr>
      <tr><td><h1>Boston, MA</h1></td></tr>
  </table>
</div>
<div class="six">
  <table>
      <tr><td><h1><%= link_to "github.com/roryquinlan", "http://www.github.com/roryquinlan" %></h1></td></tr>
      <tr><td><h1><%= link_to "medium.com/@rory_quinlan", "https://medium.com/@rory_quinlan" %></h1></td></tr>
      <tr><td><h1><%= link_to "linkedin.com/in/roryquinlan/", "http://www.linkedin.com/in/roryquinlan/" %></h1></td></tr>
  </table><br>
</div>
