.main-content {
  @include outer-container;
}

.page-header > li {
  display: inline;
  font-size: 36pt;
  font-weight: 700;
}

.page-header-sub > li {
  display: inline;
}

.landing {
  background:url('/tee_ball.jpg') no-repeat center center;
  min-height:100%;
  background-size:cover;
  min-height:800px;
}
